<div class="row">
  <div class="col-md-6">
    <h1>Stripe Integration with Angular</h1>
    <h5 style="color: indianred">** Fill all fields to generate token</h5>
  </div>
  <div style="flex-direction: row">
    <h3 style="text-align: center">---- Personal Information ----</h3>

    <h4>First Name</h4>
    <div class="password-input-field-style">
      <input matInput class="input-style" name="firstname" type="text" id="firstname" />
    </div>
  </div>

  <div class="col-md-6">
    <h4>Last Name</h4>
    <div class="password-input-field-style">
      <input class="input-style" matInput name="lastname" type="text" id="lastname" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Email</h4>
      <div class="password-input-field-style">
        <input matInput name="email" id="emailadd" type="email" required class="input-style" />
      </div>
    </div>
  </div>

  <div>
    <h3 style="text-align: center">---- Payment Information ----</h3>
    <div class="stripe-error-style center-align"></div>
    <div id="card-errors" class="stripe-error-style" role="alert"></div>

    <div class="row">
      <div class="col-md-6">
        <h4>Name On Credit Card</h4>
        <div class="password-input-field-style">
          <input matInput class="input-style" id="name" required />
        </div>
      </div>
      <div class="col-md-6">
        <h4>Credit Card Number</h4>
        <div class="acc-card-number-outer-div">
          <div class="password-input-field-style">
            <div id="card-number-element" class="input-value card-number-field stripeElementStyle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-6">
        <h4>Exp.Date</h4>
        <div class="acc-card-number-outer-div">
          <div class="password-input-field-style">
            <div id="card-expiry-element" class="input-value card-number-field stripeElementStyle"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Sec. #</h4>
        <div class="acc-card-number-outer-div">
          <div class="password-input-field-style stripeElementStyle">
            <div id="card-cvc-element" class="input-value card-number-field"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button class="btn btn-dark" style="margin-bottom: 20px" (click)="createUser()">Submit</button>
      <button class="btn btn-dark" style="margin-left: 20px; margin-bottom: 20px" (click)="resetForm()">Reset</button>
    </div>
    <div style="text-align: center">
      <h4 id="token" style="display: none">Check your Token on Console</h4>
    </div>
  </div>
</div>
